@media print {
	#view-issue-page .bugnote .btn { display: none; }
	#view-issue-page .bugnote .btn-sm { display: none; }
	.noprint { display: none; }
}

span.print { font-size: 8pt; }
span.required 		{ font-size: 8pt; color: #bb0000; }

td.category, th.category		{ background-color: #edf3f4 !important; color: #000000; font-weight: bold; vertical-align : top; }
td.category .small, th.category .small	{ font-weight: normal;  }

.small-caption	{
    border: 1px solid #fff;
    font-size: 8pt;
    padding: 0 5px;
}
tr.spacer			{ background-color: #ffffff !important; color: #000000; height: 5px; }


/**
 * view_all_bug_page.php
 */
#buglist td, #buglist th	{ text-align: center; }
#buglist .column-summary,
#buglist .column-description,
#buglist .column-notes,
#buglist .column-steps-to-reproduce,
#buglist .column-additional-information
	{ text-align: left; }

/* manage_plugin_page.php */
span.dependency_dated		{ color: maroon; }
span.dependency_met			{ color: green; }
span.dependency_unmet		{ color: red; }
span.dependency_upgrade		{ color: orange; }

tr.bugnote .bugnote-note { background-color: #e8e8e8; color: #000000; width: 75%; vertical-align: top; }

.bugnote-private { background-color: #fcf8e3 !important;}

.nowrap
{
	white-space: nowrap;
}

.issue-status
{
	border-bottom: 1px dotted black;
}

.bug-attachments {
	margin: 0;
	padding: 0;
}

.bug-attachments > ul {
	list-style: none;
	margin: 0.5em;
	padding: 0;
}

.bug-attachments > ul > li {
	margin: 0.5em 0;
	padding: 0;
}

.bug-attachments > ul > li > div {
	margin: 0;
	padding: 0;
}

.bug-attachment-preview-text, .bug-attachment-preview-image {
	margin: 1em;
	padding: 1em;
}

#dates label[for=start_date], #dates > label[for=end_date] {
	float: left;
	width: 3em;
}

/* manage_config_* colors */
.color-global		{ background-color: LightBlue; }
.color-project		{ background-color: LightGreen; }

td.overdue        	{ background-color: #d15b47; color: #ffffff; font-weight: bold; }
td.print-overdue    { font-weight: bold; }

.collapse-link { cursor: pointer; }

/* custom css settings */

.scrolling-table tbody {
	display: block;
	height: 300px;
	width: 100%;
	overflow: hidden;
	overflow-y: auto;
}

.scrolling-table tr {
	display: table;
	width: 100%;
	table-layout: fixed;
}

.scrolling-table::-webkit-scrollbar {
    width: 5px;
}

.scrolling-table::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); 
    border-radius: 5px;
}

.scrolling-table::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.5); 
}

#modal_form
{
        width: 500px; 
        height: 500px; /* Рaзмеры дoлжны быть фиксирoвaны */
        border-radius: 5px;
        border: 3px #000 solid;
        background: #fff;
        position: fixed; /* чтoбы oкнo былo в видимoй зoне в любoм месте */
        top: 45%; /* oтступaем сверху 45%, oстaльные 5% пoдвинет скрипт */
        left: 50%; /* пoлoвинa экрaнa слевa */
        margin-top: -150px;
        margin-left: -150px; /* тут вся мaгия центрoвки css, oтступaем влевo и вверх минус пoлoвину ширины и высoты сooтветственнo =) */
        display: none; /* в oбычнoм сoстoянии oкнa не дoлжнo быть */
        opacity: 0; /* пoлнoстью прoзрaчнo для aнимирoвaния */
        z-index: 5; /* oкнo дoлжнo быть нaибoлее бoльшем слoе */
        padding: 20px 10px;
}
/* Кнoпкa зaкрыть для тех ктo в тaнке) */
#modal_form #modal_close {
        width: 21px;
        height: 21px;
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        display: block;
}
/* Пoдлoжкa */
#overlay {
        z-index:3; /* пoдлoжкa дoлжнa быть выше слoев элементoв сaйтa, нo ниже слoя мoдaльнoгo oкнa */
        position:fixed; /* всегдa перекрывaет весь сaйт */
        background-color:#000; /* чернaя */
        opacity:0.8; /* нo немнoгo прoзрaчнa */
        -moz-opacity:0.8; /* фикс прозрачности для старых браузеров */
        filter:alpha(opacity=80);
        width:100%; 
        height:100%; /* рaзмерoм вo весь экрaн */
        top:0; /* сверху и слевa 0, oбязaтельные свoйствa! */
        left:0;
        cursor:pointer;
        display:none; /* в oбычнoм сoстoянии её нет) */
}

.modalwin { 
        height: 420px;  
        width: 700px;
        border: 3px outset gray; 
        background: #DDDDDD;
        top: 20%; /* отступ сверху */
        right: 0;
        left: 0;
        font-size: 14px; 
        margin: 0 auto;
        z-index:2; /* поверх всех */
        display: none;  /* сначала невидим */
        position: fixed; /* фиксированное позиционирование, окно стабильно при прокрутке */
        padding: 15px;
        border: 1px solid #383838;
}
#shadow { 
        position: fixed;
        width:100%;
        height:100%;
        z-index:1; /* поверх всех  кроме окна*/
        background:#000;
        opacity: 0.5; /*прозрачность*/
        left:0;
        top:0;
}

